* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f7f9;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 280px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.tags {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 5px 10px;
    border: 1px solid #4a90e2;
    border-radius: 20px;
    color: #4a90e2;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.tag:hover {
    color: #ffffff;
    background-color: #4a90e2;
}

.content {
    margin: 15px 0;
}

.content h2 {
    margin-bottom: 10px;
    color: #333;
}

.content p {
    line-height: 1.5;
    font-size: 14px;
    color: #666;
    text-align: justify;
}

.link-btn {
    text-align: center;
    margin-top: 20px;
}

.link-btn a {
    color: #ffffff;
    font-size: 14px;

    text-decoration: none;
    display: inline-block;
    background-color: #4a90e2;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link-btn a:hover {
    background-color: #366dbf;
}